    <ion-header>
      <ion-toolbar>
        <ion-title>Personal Projects</ion-title>
    
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    
      </ion-toolbar>
    </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>Creating sites marmorilaatat.fi and kivialtaat.fi with Wordpress</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/icon/kuvat/kivialtaat.jpg"></ion-img><ion-img src="/assets/icon/kuvat/marmorilaatat.jpg"></ion-img>
        </ion-item>
        <p style="font-style: italic;">www.kivialtaat.fi, www.marmorilaatat.fi</p>
          <ion-button href="/menu/team">Team Projects</ion-button>
        
          <style>
            ion-label {
              font-weight: 800;
            }
           </style>
                  