    <ion-header>
      <ion-toolbar>
        <ion-title>Contact Page</ion-title>
    
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    
      </ion-toolbar>
    </ion-header>



<ion-content>
<!-- List of Text Items -->
<ion-list>
  <ion-item>
   <ion-icon name="mail-outline"> </ion-icon><ion-label style="color: blue;">Email: daniel.rif@hotmail.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call-outline"> </ion-icon><ion-label style="color: blue;">Phone: 0452349108</ion-label>
  </ion-item>
  <ion-button href="/menu/personal">Personal information</ion-button>
<style>
  ion-label {
    font-weight: 800;
  }
</style>