<ion-header>
  <ion-toolbar>
    <ion-title>Personal Profile</ion-title>
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-item>
      <ion-img src="/assets/icon/kuvat/proffa.jpg"></ion-img>
  </ion-item>
  <ion-item>
    <ion-chip>
    <ion-label>Name: Daniel Rif</ion-label>
  </ion-chip>
  </ion-item>
  <ion-item>
    <ion-chip>
    <ion-label>Nationality: Finnish</ion-label>
  </ion-chip>
  </ion-item>
  <ion-item>
    <ion-chip>
    <ion-label>Date of birth: 20.08.1998</ion-label>
  </ion-chip>
  </ion-item>
  
<ion-text >
  <h2>Hello!</h2>
  <p>I am a second year IT- student in Laurea University of Applied Sciences.</p>
  <p>So far I have some knowledge of Javascript, HTML, SQL and Excel</p>
  <p>I consider myself capable of working with different people, and I always try to do things as well as I can.</p>
  <p>Besides IT, I'm also interested in languages. I've studied English, Spanish, French, Swedish and Russian.</p>
  <p>I'm a football fanatic but I also like going to the gym and watching movies and tv-series.</p>
  <p>I'm eager to travel and to learn new things about different cultures.</p>
</ion-text>

<ion-button href="/menu/contact">Contact me</ion-button>

<style>
  h2 {
    font-weight: 800;
    font-style: italic;
    color: blue;
  }
  ion-label {
  font-weight: 800;
  }
  p {
    font-weight: bold;
    font-style: italic;
    color: blue;
  }
</style>