   <ion-header>
      <ion-toolbar>
        <ion-title>Extra Curriculum Activities</ion-title>
    
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    
      </ion-toolbar>
    </ion-header>
<ion-content>
 
  <ion-slides pages>
   
    <ion-slide style="background-color: teal;">
    <h2>Football</h2>
    </ion-slide>

  <ion-slide style="background-color: tomato;">
  <h2>Movies and series</h2>
  </ion-slide>

  <ion-slide style="background-color: yellowgreen;">
    <h2>Gym</h2>
  
    </ion-slide>

    <ion-slide style="background-color: orangered;">
      <h2>Literature</h2>
    
      </ion-slide>
 
  </ion-slides>

  <ion-slides>

<style>
ion-slides {
  height: 100%;
}
h2 {
  font-size: 100 px;
  font-weight: 1000;
  color: white;
}
</style>