<ion-header>
  <ion-toolbar>
    <ion-title>Technical Skills</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="color: blue;">Experience building websites with Wordpress</ion-label>
  </ion-item>
    <ion-list>
      <ion-item>
        <ion-label style="color: blue;">Javascript</ion-label>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">HTML</ion-label>
        </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">Excel</ion-label>
        </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">SQL</ion-label>
        </ion-item>
        <ion-button href="/menu/soft">Soft Skills</ion-button>
<style>
 ion-label {
   font-weight: 800;
 }
</style>
