<ion-header>
  <ion-toolbar>
    <ion-title>Soft Skills</ion-title>

        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="color: blue;">Great teamwork capabilities</ion-label>
  </ion-item>
    <ion-list>
      <ion-item>
        <ion-label style="color: blue;">Communication skills</ion-label>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">Adaptability</ion-label>
        </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">Creativity</ion-label>
        </ion-item>
      <ion-list>
        <ion-item>
          <ion-label style="color: blue;">Work ethic</ion-label>
        </ion-item>
        <ion-button href="/menu/technical">Technical Skills</ion-button>
<style>
 ion-label {
   font-weight: 800;
 }
</style>
